p {
   font-family: Didot, serif;
   font-size:4em;
   color: #FFFFFF;
   }
   
p2 {
    font-family: Lucida, Sans, Unicode, Lucida Grande, sans-serif;
    font-size: 0.8em;
    color: #FFFFFF}
H1 {
   font-family: Lucida, Monaco, Monospaced;
   font-size: 1em;
   color: #FFFFFF;
   }    


.bottom { 
   boarder-bottom: 1px solid #FFFFFF;
   }
.black {
   background-color: #000000;
   }
body {
  background-color:black;
}
.buttonrow {
  width:100%;
  padding:4em;
  text-align: center;
  align-items: center;
  float:center;
}

.button {
  display: inline-block;
  text-align: center;
  color:black;
  background-color:#FFFFFF;
  padding:20px;
  margin: 10px;
  font-family: Monaco ;
}

a:link {
  text-decoration: none;
}

.button:hover{
  background-color:#CDCDCD;
}